extends layout

block content
  h1 #{title}
  p
    | Being passionate about Technolgy has always being my goals and aspiration, that was the reason i choose to study Computer Science Degree, even when much information was not so plurial as it is in our modern era, before the evolution of  dot com in the early 2000, i have always known that in this 21st century that Technology will be driving the world from Aviation, to ordinary street traders and famers, etc. That was the reason being a Software Engineer is a gain! The Third world countries are measuring up to set their systems in order to compete with the World super powers in Technolgy advancement. That was where Ralph i find my self in advancing more and more in Innovation from the early Desktop application to Web application and Mobile application to Machine learning that has taking over the industry today. I started as a Visual Basic 4.0 Developer, and Sql 6.5 in the early days of 2001 
  p| With so many years of development i have developed lots of sytems with the modern Technolgys and Archtecture, from Full Stack to Backend and even Database and admin manager. i am very good in the Technologies like , Nodejs,Expressjs, MongoDb, Mysql, Sql server, for Backend.
  p| Html/Css saas, Javascript, Bootstrape, Material css for Front end and client side
  p| Passport, and bicrypt for authentication
  p| Reactjs and React Native for Mobile application on Andriod or IOS
  p
    | Since its establishment in 2010, Srsbsns has been innovating the software, website and mobile app development space in South Africa. 

    | I am an aspiring influential digital service provider focused on delivering the highest quality service. In this ever-changing industry, it is necessary to continue to think outside the box and be creative. This is something i strive for.  i help businesses modernize and digitize their processes. My team loves nothing more than a challenge and making the impossible happen. This is all done with transparency, dedication and imagination. I take your vision and make it into a functional and unique digital reality. 

    | I have one-stop digital shop for your business and brand. 
