extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Software Engineer?
          p
            | Do you need any of my services, from Website Development, or Ecommerce website, or Mobile app, or Training on Information Technology courses? Please contact me today. 
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/good.png')
  .row
    .col-md-4
      .well
        h4 Web Development?
        p
          | Your website is the face of your brand and can be an incredible selling point for your business. But it needs to reflect who you are as a business, in terms of the design and content. 
    .col-md-4
      .well
        h4 Systems Integration?
        p
          |I specialize in integrating various parts of a system by using Application Programmers Interface (API). An API allows different software, databases, applications etc. to interact and share information with one another. always build a new system from ground to up
    .col-md-4
      .well
        h4 Mobile App Building
        p
          | Technology and the consumer market are evolving as is mobile and website app development. Businesses are having to find more ways to connect with their different stakeholders, employees and customers. One way of doing this is to develop and design a custom web or mobile app to fit their specific needs. 

  
  